<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">

    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl xl:mb-12">${d.description}</h2>

    @if d.stars_avg > 0
    <div class="mb-4 flex items-center justify-between border-t border-b py-4">
      <div class="flex flex-col gap-0.5">
        <span class="block font-bold">Total</span>
        ${d.stars_str}     
        @if d.nr_reviews > 0
        <span class="block text-sm text-gray-500">Bases on ${d.nr_reviews} reviews</span>
        @end
      </div>
    </div> 
    @end

    <div class="divide-y">
      @for review in d.reviews
      <div class="flex flex-col gap-3 py-4 md:py-8">
        <div>
          <span class="block text-sm font-bold">${review.name}</span>
          <span class="block text-sm text-gray-500">${review.date.md()}</span>
        </div>
        ${review.stars_str}          
        <p class="text-gray-600">${review.description}</p>
      </div>
      @end
    </div>

  </div>
</div>
