<nav>
    <div 
        id="@{menu.label}-menu"
        class="nav_menu mt-0 sm:mt-0 md:mt-0 lg:mt-0 xl:mt-0 2xl:mt-0 z-50 absolute inset-x-0 transform shadow-lg lg:backdrop-blur xl:backdrop-blur transition duration-200 ease-in opacity-0 -translate-y-1 hidden">
        <div class="bg-white lg:bg-semi-white md:bg-semi-white xl:bg-semi-white">
            <div id="menu" class="mx-8 lg:mx-10 xl:mx-10 px-6 sm:p-6 md:p-8">
                {item.menu}
            </div>
        </div>            
        </div>
    </nav>