<div class="mt-6 border-t border-gray-200 pt-2"></div>
<footer class="bg-white">
          <div class="max-w-screen-2xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
            <div class="xl:flex xl:gap-4">
              <div class="space-y-8 lg:max-w-sm xl:max-w-sm lg:mr-8 lg:mb-8 xl:col-span-1">
                <img class="w-16 h-auto sm:w-15" src="https://www.threefold.io/images/black_threefold.png" alt="ThreeFold Logo">
                <p class="text-gray-500 text-base leading-6 ">
                  
                </p>
                

<div class="flex space-x-4">
    

        <a href="https://github.com/threefoldfoundation" target="_blank" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Github</span>
        
        <svg class="h-8 w-8" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
    <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"></path>
</svg>
        
        </a>

    

        <a href="https://github.com/threefoldtech" target="_blank" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Github2</span>
        
        <svg class="h-8 w-8" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
    <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"></path>
</svg>
        
        </a>

    

        <a href="https://twitter.com/threefold_io" target="_blank" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Twitter</span>
        
        <svg class="h-8 w-8" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
    <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"></path>
  </svg>
        
        </a>

    

        <a href="https://t.me/threefoldnews" target="_blank" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Telegram</span>
        
        <svg data-v-14efe4a7="" xmlns="http://www.w3.org/2000/svg" width="1.6rem" height="1.6rem" fill="currentColor" viewBox="0 0 16 16" class="bi bi-telegram mt-1"><path data-v-14efe4a7="" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"></path></svg>
        
        </a>

    

  </div>
            </div>

            <div class="mt-6 lg:mt-0 w-full px-8 sm:px-12 md:px-16 lg:px-20 footer-cust">
                <!-- row shortcode 
Shortcode used in markdown for the creation of mobile compatible vertical rows
Divides markdown into columns by splitting content using column identifier "|||"
Creates equal width blocks in a flex row.

Parameters: 
- style: 
    - lean: if style is lean, the row doesn't have outer margins
- bgPath: if bgPath is passed, the row has a full width background
-->

<!-- This fixes link paths in prod -->



<!-- makes external links in row open in new tabs-->




<!-- Splits body to columns -->



<!-- aligns columns depending on col number-->

    












 <!-- reverse col at mobile -->

 

    

    

    <!-- makes row with margins -->
    

    <!-- makes row with margins -->
    

    

    

    <!-- makes row full screen width, strips margins -->
    
        
        
    

     <!-- makes row semi-full screen width, strips margins -->
     

        <!-- makes row full screen width, strips margins -->
    

    



<!-- makes row full screen width and adds background img -->








<div class="relative flex flex-col lg:flex-row items-baseline -mx-8 sm:-mx-12 md:-mx-16 lg:-mx-20" style="" id="">

     
    
        <!-- Hides empty columns if displayed vertically in small screen -->
        
            <div class="flex-1 m-4 lg:m-0">
                <!-- handles mermaid markdown content display -->
                
                    <h5 id="take-action">TAKE ACTION</h5>
<br>
<h6 id="learn"><a rel="nofollow noreferrer" target="_blank" href="https://manual.grid.tf/">Learn</a></h6>
<h6 id="host-farm"><a target="_blank" href="/host">Host (Farm)</a></h6>
<h6 id="dashboard"><a rel="nofollow noreferrer" target="_blank" href="https://dashboard.grid.tf/">Dashboard</a></h6>
<h6 id="download-tf-connect-ios"><a rel="nofollow noreferrer" target="_blank" href="https://apps.apple.com/us/app/3bot-login/id1459845885">Download TF Connect: iOS</a></h6>
<h6 id="download-tf-connect-android"><a rel="nofollow noreferrer" target="_blank" href="https://play.google.com/store/apps/details?id=org.jimber.threebotlogin&amp;hl=en_US">Download TF Connect: Android</a></h6>
<p>
                
            </p></div>
        
     
    
        <!-- Hides empty columns if displayed vertically in small screen -->
        
            <div class="flex-1 m-4 lg:m-0">
                <!-- handles mermaid markdown content display -->
                
                    <p></p>
<h5 id="talk-to-humans">TALK TO HUMANS</h5>
<br>
<h6 id="main-chat"><a rel="nofollow noreferrer" target="_blank" href="https://t.me/threefold">Main Chat</a></h6>
<h6 id="hosting-farming-chat"><a rel="nofollow noreferrer" target="_blank" href="https://t.me/threefoldfarmers">Hosting / Farming Chat</a></h6>
<h6 id="grid-user-chat"><a rel="nofollow noreferrer" target="_blank" href="https://t.me/threefoldtesting">Grid User Chat</a></h6>
<h6 id="forum"><a rel="nofollow noreferrer" target="_blank" href="https://forum.threefold.io/">Forum</a></h6>
<h6 id="support"><a rel="nofollow noreferrer" target="_blank" href="https://threefoldfaq.crisp.help/en/">Support</a></h6>
<p>
                
            </p></div>
        
     
    
        <!-- Hides empty columns if displayed vertically in small screen -->
        
            <div class="flex-1 m-4 lg:m-0">
                <!-- handles mermaid markdown content display -->
                
                    <p></p>
<h5 id="about-us">ABOUT US</h5>
<br>
<h6><a target="_self" onclick="window.location.href='/about'">About</a></h6>
<h6><a target="_self" onclick="window.location.href='/newsroom'">NewsRoom</a></h6>
<h6><a target="_self" onclick="window.location.href='/people'">People</a></h6>
<h6><a target="_self" onclick="window.location.href='/utilization'">Partners</a></h6>
<h6><a target="_self" onclick="window.location.href='/blog'">Blog</a></h6>
                
            </div>
        
    
</div>
            </div>
              
              </div>
              <div class="mt-12 mx-auto border-t border-gray-200 pt-8">
                <p data-v-14efe4a7="" class="text-base leading-6 text-gray-400 text-center">
                © <span id="year">2024</span> ThreeFold, All rights reserved.
                <a target="_blank" href="https://library.threefold.me/info/legal/#/legal__terms_conditions_websites" class="leading-6 text-gray-500 hover:text-gray-900">Terms &amp; Conditions |
                </a><a target="_blank" href="https://library.threefold.me/info/legal/#/legal__privacypolicy" class="leading-6 text-gray-500 hover:text-gray-900">Privacy Policy |
                </a><a href="/tfLabs" class="leading-6 text-gray-500 hover:text-gray-900">ThreeFold Labs IT</a></p>
              </div>
    
            </div>
            
          </footer>